@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', 'Roboto', sans-serif, Courier, monospace;
  width: 100vw;
  height: 100vh;
  padding-top: 2.188rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1098px;
  max-height: 82px;
  width: 95%;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 13px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.header-container .logo {
  padding: 1rem 0 1rem 3.125rem;
}

.header-container .menu {
  display: flex;
  padding: 2.125rem 3.125rem 2.125rem 0;
  gap: 2.063rem;
  font-size: 15px;
  list-style: none;
}

.menu a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: #2965F1;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 765px;
  height: 90%;
}

.main-container .sobre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 586px;
  max-height: 380px;
  height: 90%;
  width: 90%;
  border: 1px solid #000000;
  border-radius: 13px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
  padding: 2.5rem 5rem 1.938rem 4.938rem;
}

.sobre h2 {
  font-size: 20px;
}

.sobre p {
  font-size: 10px;
}

p a{
  text-decoration: none;
  color: #2965F1;
}

.btn {
  background-color: #2965F1;
  width: 155px;
  height: 34px;
  box-shadow: 5px 5px 0px #000000;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
  transition: 0.4s;
}

.btn:hover {
  transform: scale(0.95);
  box-shadow: none;
}

footer {
  padding: 1.563rem 0 ;
  border-top: 1px solid #000000;
  text-align: center;
  max-height: 65px;
  height: 90%;
}

h3 {
  font-size: 10px;
}

h3 a{
  text-decoration: none;
  color: #2965F1;
}