body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 60px 150px;
  height: 70vh;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box {
  color: lightgrey;
  background-color: #BA68C8;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.opcoes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
}

.option {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px;
  width: 33%;
  margin: 50px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.option:hover {
  color: white;
  background-color: #BA68C8;
  transform: scale(1.2);
}


button {
  font-size: 18px;
  width: 230px;
  height: 35px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #BA68C8;
  color: #ddd;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  transform: scale(0.88);
  background-color: #fff;
  color: black;
}

strong {
  color: red;
}

.exemplo{
  text-align: center;
  padding: 11px;
  margin: 0px 120px;
  border: 1px solid #BA68C8;
  background-color: #ddd;
}