@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'roboto', Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 60px 150px;
  height: 80vh;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box {
  color: black;
  background-color: #407BFF;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button {
  font-size: 18px;
  width: 300px;
  height: 60px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #407BFF;
  color: black;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  transform: scale(0.88);
  background-color: #fff;
  color: black;
}

.tam-img {
  width: 560px;
  height: 370px;
}