@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Press Start 2P', 'Roboto', sans-serif, Courier, monospace;
  height: 100vh;
  padding-top: 2.188rem;
}

.header-container {
  text-align: center;
  max-width: 1098px;
  max-height: 82px;
  width: 95%;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 13px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.header-container h1 {
  font-size: 20px;
  padding: 1rem 0 1rem 3.125rem;
}

.main-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 183px);
  padding: 1rem 10.5rem;
}

.main-container div {
  margin-top: 2.5rem;
}

.main-container h2 {
  font-size: 18px;
  margin: 31px 0 25px 0;
}

.main-container p {
  width: 357px;
  height: 54px;
  font-size: 12px;
  margin-bottom: 25px;
}

.main-container a {
  text-decoration: none;
  width: 155px;
  height: 34px;
}

.btn {
  background-color: #2965F1;
  width: 155px;
  height: 34px;
  box-shadow: 5px 5px 0px #000000;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
  transition: 0.4s;
}

#btn-sel {
  background-color: #BA68C8;
}

#btn-box {
  background-color: #92E3A9;
}


.btn:hover {
  transform: scale(0.95);
  box-shadow: none;
}

footer {
  padding: 1.563rem 0;
  border-top: 1px solid #000000;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  font-size: 10px;
}

h3 a {
  text-decoration: none;
  color: #2965F1;
}

@media (max-width:1450px) {
  .main-container {
    padding: 1rem 2rem;
  }

  footer {
    padding: auto;
    margin-top: 2.8rem;
  }
}

@media screen and (max-width: 730px) {

  body {
    overflow: scroll;
  }

  .header-container h1 {
    padding: 1rem 1rem;
  }

  .main-container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
  }

  .flexbox,
  .boxmodel,
  .seletores {
    padding: 1rem;
    margin: auto 0;
  }

  footer {
    display: none;
  }

}