@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'roboto', Courier, monospace;
}
.top-box {
  text-align: center;
  padding: 25px;
  margin: 30px 50px;
  border-bottom: 2px solid #ddd;
}

h1 {
  margin: 0 300px;
  color: black;
  background-color: transparent;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  height: 70vh;
}

img {
  width: 420px;
  height: 420px;
}

.seletores {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box-model {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flexbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  font-size: 18px;
  width: 230px;
  height: 35px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #5b72a8;
  color: #ddd;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  transform: scale(0.88);
  background-color: #fff;
  color: black;
}

footer {
  border-top: 2px solid lightgray;
  background-color: white;
  text-align: center;
  color: black;
  padding: 1rem;
  height: max-content;
  max-height: 100%;
}

a{
  text-decoration: none;
}